@model SimpleBlog.ViewModels.LoginViewModel

@{
    //Layout = null;

    ViewBag.Title = "Login View";
}

<div>
    <h3>Log-In View</h3>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary();

    @*<div>
        @Html.LabelFor(x => x.Email)
        @Html.EditorFor(x => x.Email)
    </div>*@

    <div>
        @Html.LabelFor(sb => sb.Username)
        @Html.EditorFor(sb => sb.Username)
    </div>

    
    <div>
        @Html.LabelFor(sb => sb.Password)
        @Html.EditorFor(sb => sb.Password)
    </div>
    
    <div>
        <input type="submit" value="Login"/>
        <a href="@Url.RouteUrl("Home")">Cancel</a>
    </div>
}